/*Note we will collectively decide or pick one, either style_option2.css or style_option1.css. 
But first we have to individually test them both to see which one we all want to use as a team, so please test both*/
/*After reviewing, if you want to add your won variables for your 
index.html to look a certain way, fell free to do so, on Monday we'll
look at your added variables and implement them in the final styles.css
we collectively decide on*/
/*This is the second styling option you can use for your .html 
you should try and change some variables here to see what does what
and for what reason they do them*/
html {
	background-color: #dbadad; 
	font-size: 16px;
	font-family: monospace;
	color: #000;
}
/*this style has no colour gradient or colourful background but rather
just one solid colour for the html.*/
body{
	width: auto;
      min-height: auto;
	border: 5px;
}
/*These buttons links our names on the review_index.html to our own 
indes.html, for the buttons to work you make sure that your index.html
has your in in place of the index, for example Joe.html or Iverson.html
. If you click on your name, it should take you to your index.html if you have it in tha same folder*/
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: monospace;
  margin: 4px 2px;
  transition-duration: 1.4s;
  cursor: pointer;
}
/*This is the button sub definition which draws from .button again, 
you dont really need to use these variables but definately play with them to 
see how they work*/
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
/*the effect you see when you hover your mouse pointer on our names on review_index.html
 it turns green when you hover on any name, since all our index.html is not linked in 
 one place, when you click on anyones name other than yours it will show a "page not found" error
 that's ok, just go back to the previous website and click on only your name.*/
.button1:hover {
  background-color: #4CAF50;
  color: white;
}
/* now these are the variables you can use in your index.html 
like i said, fell free to add more if needed*/
/*This is for the header "h1" with specific details, 
you can add your own, like h3 or h4 or whatever*/
h1 {
  color: black;
  text-align: center;
  font-family:monospace;
  font-size: 35px;
}
/*This is the paragraph tag with specifications, you can add
your own if you want*/
p {
  font-family: monospace;
  font-size: 20px;
}
/*There is no colour gradient here, to see the colour gradient, change 
/css/style_option1.css in the <head></head> tag to css/style_option2.css*/